@{
    ViewData["Title"] = "Chat";
    var roomId = ViewBag.roomId;
    var id = ViewBag.id;
    var notifyname = ViewBag.notifyname;
    var picture = ViewBag.picture;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<p style="display:none" id="roomid">@roomId</p>
<section class="smalltopic">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4" style="width:75%">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                         style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <img style="border: solid;" id="chatroom" src="@picture" class="img-responsive profile-photo">                                               
                        <p id="whotochat" style="background-color:black;border-radius: 5px;" class="mb-0 fw-bold">@notifyname</p>
                    </div>
                    <div class="card-body" style="overflow-y: auto;max-height:70%">
                        <div class="form-outline">
                            <div style="" id="chatmsg"></div>
                            <textarea style="position:sticky;height:88px;z-index: 100;bottom: 0;" class="form-control" id="message" rows="4"></textarea>
                            <button id="sendbutton" onclick="sendMessage()" class="sendMessage">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>


    .smalltopic {
        max-height: 100%;
        overflow-y: auto;
        width: 100vh;
    }
    .welcomeword 
    {
        font-size: 16px;
        color:gray;
    }

    .sender-demo 
    {
        background-color: lightblue;        
    }

    .sender-demo1 {
        background-color: lightgreen;
        text-align: right;
    }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    getmessage();
    function sendMessage()
    {
        var username = document.getElementById('username');
        var content = username.textContent;
        console.log(content);
        const message = $("#message").val();

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rawvideo = JSON.stringify({
            "name": content,
            "message": message,
            "userId": "@id",
            "roomId": "@roomId",
        });
        var requestvideo = {
            method: 'POST',
            headers: myHeaders,
            body: rawvideo,
            redirect: 'follow'
        };

        fetch("https://johnny666.online/api/users/ChatToSpecificUser", requestvideo)
            .then(response => response.json())
            .then(result => {
                if (result.userId != null)
                {
                    console.log("成功");
                }
                else 
                {
                    alert('請稍等');
                }
            })
            .catch(error => console.log('error', error));
           $("#message").val("");

    }
    function getmessage()
    {
        
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rawvideo = JSON.stringify
        ({
           "roomId": "@roomId",
        });
        var requestvideo = {
            method: 'POST',
            headers: myHeaders,
            body: rawvideo,
            redirect: 'follow'
        };

        fetch("https://johnny666.online/api/users/GetUserChatContext", requestvideo)
            .then(response => response.json())
            .then(result => 
                {
                if (result.message != null) 
                {
                    $("#chatmsg").append(result.message);
                }
                else 
                {
                    alert('請稍等');
                }
            })
            .catch(error => console.log('error', error));
           $("#message").val("");
    }

</script>